.polygon{
    height: 630px;
    line-height: 630px;
    background-color: white;

   
}
.top-content{
    height: 80px;
    line-height: 80px;
    background-color: rgb(245,245,245);
    display: flex; 
    align-items: center;



}