.comment {
    background-color: rgb(238, 238, 238);
    height: 21vh;
    line-height: 21vh;
    border-radius: 0px;
  
}

.player {
    background-color: #454545;
    text-align: center;
    line-height: 88vh;
    height: 88vh;
    justify-content: center;
    width: 100%;
    
   
}
.button{

    line-height: 6vh;
    height: 6vh;
  
   
   
}
.paragraph {
    margin-top: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
    align-self: center;
  }
.chapter{
    text-align: left;
    line-height: 88vh;
    height: 88vh;
    background-color: rgb(245, 245, 245);
    
    align-items: center;
    justify-content: center;
   
}

.image {
    line-height: 690px;
    height: 690px;
    justify-content: center;
    text-align: center;
    
}
.paragraph {
   margin-top: 0px;
   margin-bottom: 0px;
    max-height: 3vh;
    line-height: 3vh;
   
  }
.headline {
    line-height: 6vh;
    height: 6vh;
    font-size: 24px;
 
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 0;
}
.test {
    background-color: rgb(255, 142, 142);
    color:rgb(0, 149, 255);
    color :rgb(105, 200, 255);
    color: rgba(160, 153, 153, 0.2);
    color:rgb(255, 241, 228);
    color: #9a9a9a;
}
